html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}

* {
    box-sizing: inherit; /* keep */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

#container2 {
  max-width: 1280px; /* keep */
  margin: auto; /* keep */
  display: grid; /* keep */
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
      "bobwhite bobwhiteText"
      "loggerheadText loggerhead"
      "kestrel kestrelText"
      "nighthawkText nighthawk"
      "owl owlText";
}

body {
  background: #3A6161;
  margin: 0;
  font-family: 'Open Sans', Palatino, Didot, sans-serif;
}

img {
    display: block; /* keep */
    width: 100%; /* keep */
}

#mapid {
  height: 500px;
  width: 600px;
  margin: 1em;
  padding: 15px;
  border: 1px solid #999;
}

.caption {
  background: #fff;
  padding: 10px;
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 0.8rem;
}

.info {
  max-width: 800px;
  background: #fff;
  padding: 5px;
  margin: 5px;
  font-size: 1.3rem;
}

.descrip {
  padding: 15px;
  background: #fff;
  margin: 0 0 5px 0;
  font-size: 1rem;
}

#chart {
  height: 600px;
  width: 600px;
  padding: 10px;
}

h1, h2 {
  color: #fff;
  margin: 20px;
  text-align: center;
  font-family: 'Merriweather', Palatino, Didot, serif;
  text-shadow: .07em .07em #09090A;
}

#title {
  font-size: 3rem;
}

.birdTitle {
  text-align: center;
  font-size: 1.5rem;
}

.chartCaption {
  max-width: 550px;
  font-size: 0.8rem;
  padding: 5px 15px;
  color: #fff;
}

.source {
  text-align: center;
  font-size: 0.8rem;
}

audio{
  width:100%;
}

h3 {
  padding: 20px 0 5px 0;
  margin: 0;
  font-size: 3rem;
}

footer {
  background: #fff;
  max-width: 500px;
  font-size: 0.8rem;
  margin: 20px;
  padding: 10px;
}

a {
    color: #D94FFF; /* keep */
}

a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

@media screen and (max-width: 600px) {
  #container {
    padding: 0px;
  }

  body {
    padding: 0;
  }

  #chart {
    width: 100%;
    padding: 15px 0;
  }

  #container2 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
        "bobwhite"
        "bobwhiteText"
        "loggerhead"
        "loggerheadText"
        "kestrel"
        "kestrelText"
        "nighthawk"
        "nighthawkText"
        "owl"
        "owlText";
  }

  #mapid {
    width: 100%;
    padding: 0;
    margin: 15px 0;
    height: 300px;
  }

  .descrip, .picture, .info {
    width: 325px;
    padding: 10px;
  }

  .caption {
    margin: 0;
  }
  }
